
body {
    background-color: lightyellow;
    font-family: Arial, sans-serif;
}
h3 {
    color: purple;
    text-decoration: underline;
}
p {
    color: darkblue;
    font-size: 14px;
}
