
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1, h2 {
    color: darkblue;
}
p {
    color: #333;
}
#main-title {
    color: teal;
    text-align: center;
    text-decoration: underline;
}

.highlight {
    background-color: rgb(185, 185, 81);
    font-style: italic;
}
.note {
    background-color: rgb(103, 175, 103);
    padding: 5px;
}

/* Grouping selector */
h2, p, li {
    border: 1px dashed lightgray;
    padding: 5px;
}

/* Descendant selector */
div p {
    color: blue;
}

/* Child selector */
div > ul > li {
    color: purple;
}

/* Attribute selectors */
input[type="text"], input[type="email"] {
    border: 2px solid teal;
    padding: 5px;
}
input[type="submit"] {
    background-color: teal;
    color: white;
    border: none;
    padding: 5px 10px;
}

/* Pseudo-classes */
a:hover {
    color: red;
}
.list li:first-child {
    font-weight: bold;
}
.list li:last-child {
    color: green;
}

/* Pseudo-elements */
.intro::first-letter {
    font-size: 24px;
    color: brown;
}

/* Image styling */
.example-image {
    border: 2px solid black;
    width: 200px;
}
