body {
    background-color: rgb(217, 195, 195);
    margin: 25px;
    font-family: Arial, sans-serif;
}

.header{
    padding: 5px;
    text-align: center;
}

h1{
    color: rgb(54, 82, 147);
    font-weight: bold;
    text-decoration: double;
}
h2,p{
    color:#161385
}
.c{
    text-align:center;
    text-decoration: underline;
}

input {
    background: rgb(167, 188, 210);
    padding: 6px;
    border: 3px solid #1d0f8c;
}

.btn {
    margin: 8px 0;
    background: rgb(108, 137, 148);
    font-size: 15px;
    color: rgb(45, 3, 6);
    padding: 7px 12px;
    border:2px solid ;
    cursor: pointer;
}

.btn:hover {
    background: rgb(66, 91, 228);
}
